[submodule "ext/libigl"]
	path = ext/libigl
	url = git@gitlab.cs.washington.edu:knitting-research/external/libigl.git
[submodule "ext/libQEx"]
	path = ext/libQEx
	url = git@gitlab.cs.washington.edu:knitting-research/external/libqex.git
[submodule "ext/Directional"]
	path = ext/Directional
	url = git@gitlab.cs.washington.edu:knitting-research/external/directional.git
