[submodule "ext/libigl"]
	path = ext/libigl
	url = git@github.com:deGravity/hlk-libigl.git
[submodule "ext/libQEx"]
	path = ext/libQEx
	url = git@github.com:deGravity/hlk-libQEx.git
[submodule "ext/Directional"]
	path = ext/Directional
	url = git@github.com:deGravity/hlk-directional.git
